<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/style.css">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link rel="icon" href="/pics/coins.jpeg">
      <title>Alan's Coin Changer</title>
    </head>
      <body>

        <div class="topnav">
          <a href="https://github.com/aljarrell">My GitHub &nbsp;</a>
          <a href="http://www.minedminds.org/">Mined Minds Organization &nbsp;</a>
        </div><br>

        <h1>Alan's Coin Changer</h1>

        <hr>
        
        <%= yield %>

        <br><br>

        <hr>

        <footer>
          <p>Check out these awesome sites that have taught me a lot!</p>
          <a href="https://www.w3schools.com/" target="_blank">W3 Schools</a><br><br>
          <a href="https://css-tricks.com/" target="_blank">CSS Tricks</a>
        </footer>

      </body>

  </html>
