html {
  background: url('/pics/change.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 125%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}

.topnav {
  overflow: hidden;
  background-color: black;
  top: 0;
  width: 100%;
  opacity: 0.5;
}

.topnav a {
  float: right;
  color: white;
}

.topnav a:hover {
  background: black;
  color: red;
}

h1 {
  color: black;
  font-size: 3em;
}

footer {
  overflow: hidden;
  background-color: black;
  color: white;
  opacity: 0.5;
  bottom: 0;
  width: 100%;
  font-size: 1em;
}

footer a {
  color: white;
}

footer a:hover {
  background: black;
  color: red;
}

ul {
  text-align: center;
  list-style-position: inside;
}

input {
  border-radius: 2em;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;
}

#buttons{
  border: none;
  box-shadow: 0 8px black;
}

#buttons:hover {background-color: yellow}

#buttons:active {
  background-color: yellow;
  box-shadow: 0 4px black;
  transform: translateY(3px);
}

hr {
  border-top: 5px dashed red;
  opacity: 0.5;
}
